#Stack Global
COMPOSE_PROJECT_NAME=ap_stack

#Domain
DOMAIN_NAME=localhost
HTTP_PORT=8080
GRPC_PORT=9090
HTTP_SCHEME=http

#Traefik
TRAEFIK_DATA_PATH=./data/traefik
LETS_ENCRYPT_EMAIL=

#Keycloak
KEYCLOAK_USER=admin
KEYCLOAK_PASSWORD=admin
ADMIN_CLI_CLIENT_SECRET=
DASHBOARD_CLIENT_SECRET=

#Anchorpoint Backend
LICENSE_KEY=
DEFAULT_WORKSPACE_ID=
DEFAULT_WORKSPACE_NAME="AP Workspace"
DASHBOARD_SESSION_SECRET=sessionsecret
CRASH_REPORTING=false
EMAIL_HOST=
EMAIL_PORT=25
EMAIL_USER=
EMAIL_PASSWORD=
AP_UPDATES_DATA_PATH=./data/ap_backend/updates

#Postgres
POSTGRES_PASSWORD=apdbpass
POSTGRES_USER=postgresuser
POSTGRES_ADDRESS=postgres
POSTGRES_PORT=5432
POSTGRES_DB=ap
POSTGRES_DATA_PATH=./data/postgres

#Rabbitmq
RABBITMQ_USER=aprabbitmq
RABBITMQ_PASSWORD=aprabbitmqpw
RABBITMQ_ERLANG_COOKIE=aprabbitmqcookie

#MinIO
MINIO_ACCESS_KEY=apminio
MINIO_SECRET_KEY=apminiopw
MINIO_DOMAIN_NAME=127.0.0.1
MINIO_PORT=9000
MINIO_DASHBOARD_PORT=9001
MINIO_DATA_PATH=./data/minio
MINIO_CREATE_BUCKET=true
MINIO_CREATE_BUCKET_WITH_POLICY=true
MINIO_BUCKET_AS_PATH_STYLE=true

#Other S3 Provider
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_SERVER_URL=https://s3.eu-central-1.amazonaws.com
S3_INTERNAL_URL="s3.eu-central-1.amazonaws.com"
S3_EXTERNAL_URL="s3.eu-central-1.amazonaws.com"
S3_USE_SSL=true
S3_BUCKET=ap
S3_REGION=
S3_CREATE_BUCKET=false
S3_CREATE_BUCKET_WITH_POLICY=false
S3_BUCKET_AS_PATH_STYLE=false

#Grafana
GRAFANA_USER_ID=1000
GRAFANA_GROUP_ID=1000
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin
GRAFANA_DATA_PATH=./data/grafana
PROMETHEUS_DATA_PATH=./data/prometheus
LOKI_DATA_PATH=./data/loki